.Folder {
  cursor: pointer;
  user-select: none;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .data {
      display: flex;
      flex: 1;
      gap: 6px;
      align-items: center;
    }

    .controls {
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }

  .files {
    list-style: none;

    .file {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 0;
      font-size: 12px;
    }
  }
}
