@import "../../styles/colors.scss";

.Controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: $colors-bg;

  > div {
    display: flex;
  }
}
