@import "../../../Styles/colors.scss";

.Modal {
  background: $colors-bg-light-1;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Portal-enter {
  .Modal {
    opacity: 0;
  }
}

.Portal-enter-active {
  .Modal {
    opacity: 1;
    transition: opacity 300ms;
  }
}

.Portal-exit {
  .Modal {
    opacity: 1;
  }
}
.Portal-exit-active {
  .Modal {
    opacity: 0;
    transition: opacity 300ms;
  }
}
