@import "../../Styles/colors.scss";

.StatusBar {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  color: $colors-bg-dark-1;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;

  &.isEmpty {
    background-color: $colors-bg-dark-3;
  }
}
