@mixin itemView {
  padding: 12px 0;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 12px;

  .header {
    padding: 0 12px;
  }

  .list {
    padding: 0 12px;
    overflow: auto;
  }
}
